:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  color: blueviolet;
  text-align: center;
}

.card{
  width: 260px;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.card img{
  width: 100%;
  border-radius: 6px;
}

